.container {
    z-index: 1000;
    position: fixed;
    /* position: sticky; */
    width: 100vw;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #dedccd;
    top:0;
    h2 {
        text-decoration: none;
        font-size: 1.2rem;
    }
    p {
        font-size: 1.4em;
    }
    img {
        /* max-height:  6rem; */
        max-width: 5rem;
        /* max-width: 10%; */
        /* aspect-ratio:  1 / 1; */
        object-fit: contain;
        object-position: center;
        border-radius: 7rem;
    
    }
}
.grey {
    background-color: #75746b;
    z-index: 90;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
}
.grey.active {
    opacity: 0.5;
    pointer-events: all;
}
.grey.inactive {
    opacity: 0;
    pointer-events: none;
}
.desktopNav {
    display: none;
}

@media screen and (min-width:1000px) {
        .container {
            height: 4rem;
            img {
                            max-height: 100%;

               
            }
        }
        .burger {
            display: none;
        }
        .desktopNav {

            display: flex;
            justify-content: space-between;
            gap: 4rem;
            a {
                text-decoration: none;
            
        color: #153A37;
        font-size: 1em;
            }
            
        }
}