.active {
    transform: translate(0);
    
/* GLBOAL STYLES */
display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    background-color: gray;
    min-height: 100vh;
    width: 50vw;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 25vh;
    
}


.inactive {
    transform: translate(100%);
/* GLOBAL STYLES */
     display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    background-color: gray;
    min-height: 100vh;
    width: 50vw;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}