

.navbar {
    display: flex;
z-index: 103;
    flex-direction: column;
    position: absolute;
    right: 0;
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    width: 50vw;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2vh;
    a, img {
        text-decoration: none;
        color: #153A37;
        font-size: 1.2em;
    }
    img {
        margin-bottom: auto;
    }
    padding-bottom: 50vh;

}

.active {
    transform: translate(0);
    /* transition: ; */
    transition: transform 700ms ease-in;

    
}

.inactive {
    z-index: 103;
    transform: translate(100%);
    transition: transform 700ms ease-in;

}