.div {
    /* color: blue; */
    
    display: flex;
    padding: 0.5rem 2rem;
    justify-content: space-between;
    margin-bottom: 1rem;
     background: white;
    border-radius: 2rem;
    border: 2px solid #a7bb7c ;
    border-bottom: #8e9f69 solid 5px;
    p {
        text-align: left;
    }
    
}
.article {
    h3 {
        margin-bottom: 1rem;
    }
    

}