/* GLOBALS */





/* HERO */
.hero {
    text-transform: capitalize;
    background-image: url(/images/mobileHero.jpeg);
    background-position: center;
    background-size: cover;
    padding: 25vh 9vw;
    color: white;
    
    text-align: left;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    p {
        margin-top: 1rem;
        margin-bottom: 20vh;
        
    }
    button {
        border-radius: 3rem;
        border: white solid 1px;
        background: rgba(255, 255, 255, 0.4);
        padding:5% 1rem;
        font-size: 1rem;
        color: black;
       
        /* width: rem; */
        align-self: center;
        /* color: white; */
    }
    button:hover {
      opacity: 0.8;

    }
    
}
/* QUOTE */
/* SERVICES */
/* WHO I AM  */
.aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
  img {
    object-fit: contain;
    object-position: cover;

    max-width: 80%;
    height: 70%;
    border-radius: 60%;
  }
  h2, p {
    margin: 1rem;
  }
}
@media screen and (min-width:1000px) {
        .serviceCards {
          padding: 10%;
        }
        .aboutMe {
          flex-direction: row;
          gap: 3rem;
        }
        .hero {
          h1 {
          margin-bottom: 10vh;
        }
        button {
          align-self: flex-start;
          padding: 1rem 2rem;
          font-size: 1.9rem;
        }

        }
        
}
