.card {
    background: #ffffff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(207, 218, 184, 1) 100%);
    /* color: blue; */
    border: #153A37 solid 1px;
    /* border-bottom: rgb(255, 255, 255) solid 2px; */
    border-radius: 1rem;
    div {
        display: flex;
        justify-content: space-between;

        align-items: center;
        padding: 1rem 10%;
    }
    img {
        max-width: 20%;
    }
    h2 {
        text-decoration: none;
    }
    button {
        text-transform: none;
    }
}
.contactOptions {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    
}

@media screen and (min-width:1000px) {
        .contactOptions {
            flex-direction: row;
            gap: 10%;
            button  {
                align-self: stretch;
            }
            justify-content: space-around;
        }
        .card {
            width: 40%;
            padding: 2%;
            justify-content: space-between;
            h2 {
                 text-decoration: none;
            }
           
        }
}