.hero {
    background-image: url(/images/hero-2\ \(1\).jpeg);
    background-position: center;
    background-size: cover;
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10vh 3vh;
    margin-top: 5rem;
}

.herotwo {
    background-image: url(/images/hero-2\ \(2\).jpeg);
    background-position: center;
    background-size: cover;
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10vh 3vh;
    margin-top: 5rem;
}
.container {
    padding: 1rem;
    margin-bottom: 5%;
    transition: height 500ms;
}
.btnContainer {
    /* padding: 0 2%; */
}

@media screen and (min-width:1000px) {
        .container {
            display: grid;
            grid-template-columns: 0.5fr 0.5fr;
            grid-template-rows: repeat(3, 30%);
                    padding: 0% 10%;
            gap: 7%;
                    place-items: baseline;

        } 
}

